:root {
    --dark-blue: #2d395e;
    --blue-black: #232140;

}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "VT323", monospace;
    background: var(--blue-black);
}

h1{
    font-family: "Press Start 2P", cursive;
    font-size: 20px;
    /* display: inline-block; */
}

img{
    image-rendering: pixelated;
}


.highlights img{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    pointer-events: none;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    text-align: center;
}

.button img{
    width: 100%;
}

/* .button:hover{
    outline: 20px solid white;
} */

.button a{
    text-decoration: none;
    color: white;
    width: 100%;
}

.button .top{
    display: none;
    position: static;
    top: 0;
    left: 0;
}

.button:hover .top{
    display: inline;
}

.button:hover .bottom{
    display: none;
}

.button:hover .btn{
    color: var(--blue-black);
    background-color: white;
    outline: none;
}




.files2col{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.files3col{
    width: 67%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15%;
}

.files3col .button{
    width: 25%;
}

.files3col .button img{
    width: 55%;
}

.rows{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 100px;
}

.btn{
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    background-color: var(--blue-black);
    outline: 2px solid white;
    text-transform: uppercase;
    line-height: 130%;
}

.back{
    position: fixed;
    top: 30px;
    left: 30px;
}

.btn:hover{
    color: var(--blue-black);
    background-color: white;
    outline: none;
}

.landing{
    font-size: 26px;
}